<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringDataJpaDemo" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <module name="sandbox.examples.java-database-tools.spring-data-jpa.main" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="edu.sandbox.javadatabasetools.springdatajpa.SpringDataJpaDemo" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>